@bkg: lighten(#d5d9dc,10%);
@pink: #ffc1da;
@bordo: #7e425b;

html {
	height:100%;
}
body {
	margin:0;
	padding:0;
	height:100%;
	background-color:@bkg;
}
.layout {
	min-width:900px;
	width:900px;
	height:100%;
	margin:0 auto;
	padding:10px 20px;
	background-color:#fff;
	h1 {
		margin:0 0 20px -20px;
		padding:20px;
		width:100%;
		background-color:@bordo;
		color:#fff;
	}
}

#control-panel {
	display:inline-block;
	vertical-align:top;
	width:150px;
	padding-right:10px;
	& div {
		display:inline-block;	
	}
	&>div {
		display:block;
		overflow:auto;
	}
	.complexity-holder {
		padding:10px;
		background-color:@bkg;
		border-bottom: 1px solid darken(@bkg, 5%);
		cursor:pointer;
		&:hover:not(.current){
			background-color:darken(@bkg, 3%);
		}
	}
	.current {
		background-color:lighten(@bkg, 3%);
	}
	.complexity-holder:last-of-type {
		border:none !important;
	}
	#timer {
		text-align:center;
		padding:10px;
	}
	#restart {
		text-align:center;
		padding:10px;
		margin:10px 0;
		background-color: @pink;			
		cursor:pointer;
		&:hover {
			background-color: darken(@pink,3%);			
		}
	}
}

#gamefield {
	width:100%;
	border:1px solid darken(@bkg, 10%);
	padding:10px;
	max-width:680px;
	display:inline-block;
	vertical-align:top;
	.tile-row{
		display:block;
	}
	.tile-row:after{
		clear:both;
		display:block;
		content:'';
	}
	.tile .cover {
		margin:-80px 0 0 -80px;
		transition: opacity 0ms;
		transition-delay: 240ms;		
	}
	.tile.selected .cover{
		display:inline-block;
		opacity:0;
		transition: opacity 0ms;
		transition-delay: 240ms;		
	}
	.tile {
		float:left;
		padding:2px;
		display:inline-block;
		transition-duration: 700ms;		
		transform: rotate3d(0, 1, 0, 0deg);
		cursor:pointer;
	}
	.tile.selected {
		transition-duration: 700ms;		
		transform: rotate3d(0, 1, 0, 180deg);
	}

}